<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista książek</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lista KSIĄŻEK</h5>
                <p class="card-text">Zapraszamy do zapoznania się z ofetą naszej wypożyczalni...</p>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">

    <tr>
        <thead>
        <th scope="col">Tytuł</th>
        <th scope="col">Autorzy</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Wydawca</th>
        </thead>
    </tr>
    <tbody>
    <tr th:each="book : ${booksList}">
        <td th:text="${book.getTitle()}"></td>

        <td>
            <div th:each="author : ${book.getBookAuthors()}">
                <p th:text="${author.getName()} + ' ' + ${author.getLastname()}"></br></p>
            </div>
        </td>
        <td th:text="${book.getBookCategory().getName()}"></td>
        <td th:text="${book.getPublisher().getName()}"></td>

    </tr>
    </tbody>

</table>


</body>
</html>


